<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav-item navbar-nav " >
          <!-- 6 -->
          <li class="navbar-brand nav-link " id="home"><a class="list" href="/">HOME</a></li>
          <li class="navbar-brand nav-link " id="about"><a class="list" href="/about">ABOUT US</a></li>
          <li class="navbar-brand nav-link " id="contact"><a class="list" href="/contact">CONTACT US</a></li>
          <li class="navbar-brand nav-link " id="compose"><a class="list" href="/compose">COMPOSE</a></li>
        </ul>
    </div>
  </nav>

    <div class="container">
